<div class="container" style="background-color:beige; padding-left: 5rem;">
  <div class="row">
    <div id="htmlData">

      <br>
      <h2>TEPIC, NAYARIT., A <input type="datetime-local"></h2>
      <br>
      <h2>M.A MANUEL ANGEL URIBE VAZQUEZ</h2>
      <h2>DIRECTOR DEL I.T. DE TEPIC</h2>
      <h2>PRESENTE:</h2>
      <br>
      <p>Me permito solicitarle <input type="number"> calcomanía(s) para mi(s)
        vehículo(s) y poder acceder a las instalaciones del Instituto.
      </p>


      <div class="vehículos" style="display:inline-table;padding-left: 10rem;">
        <div>
          <table class="izquierda" style="margin: auto;">
            <tr style="text-align: center;">VEHÍCULO 1</tr>
            <tr>
              <td>Marca:<input size="31"></td>
            </tr>
            <tr>
              <td>Modelo:<input size="30"></td>
            </tr>
            <tr>
              <td>Placas:<input size="31"></td>
            </tr>
            <tr>
              <td>Color: <input size="32"></td>
            </tr>
            <tr>
              <td>No. de calcomanía:<input type="number"></td>
            </tr>
          </table>
        </div>
        <div>
          <table class="derecha" style="margin: auto;">
            <tr style="text-align: center;;">VEHÍCULO 2</tr>
            <tr>
              <td>Marca:<input size="31"></td>
            </tr>
            <tr>
              <td>Modelo:<input size="30"></td>
            </tr>
            <tr>
              <td>Placas:<input size="31"></td>
            </tr>
            <tr>
              <td>Color: <input size="32"></td>
            </tr>
            <tr>
              <td>No. de calcomanía:<input type="number"></td>
            </tr>
          </table>
        </div>
        <div class="datosextra" style="padding-top: 1rem;">
          <table class="abajo" style="margin:auto;">
            <tr>
              <td>Solicitante:<input size="59" placeholder="Nombre completo"></td>
            </tr>
            <tr>
              <td>Dirección:<input size="60"></td>
            </tr>
            <tr>
              <td>Teléfono:<input type="tel" maxlength="10" size="21"></td>
            </tr>
            <tr>
              <td>Celular: <input type="tel" maxlength="10" size="22"></td>
            </tr>
          </table>
        </div>
      </div>

      <br>
      <div style="display: flex;padding-top: 1rem;">
        <h3 style="padding-left: 20rem;">ATENTAMENTE</h3>
      </div>
      <br>
      <div style="display: flex;">
        <p style="padding-left: 14rem;">_______________________________________________</p>
      </div>
      <div style="display: flex;">
        <p style="padding-left: 20rem;">Nombre y firma</p>
      </div>

      <h3>ESPECIFIQUE:</h3>
      <input type="radio" name="rol" id="Trabajador">
      <label for="Trabajador">Trabajador del Instituto.</label>
      <label> Departamento: <input size="45"></label><br>
      <input type="radio" name="rol" id="Estudiante">
      <label for="Estudiante">Estudiante. </label>
      <label>No. Control: <input> Carrera: <input size="26"></label><br>
      <input type="radio" name="rol" id="Prestador">
      <label for="Prestador">Prestador de servicio. </label>
      <label>Área: <input size="56"></label><br>
    </div>
  </div>
  <div style="padding-bottom: 1rem;padding-top: 1rem;">
    <button style="background-color: #4CAF50;
                   color: white;
                   padding: 15px 32px;
                   text-align: center;
                   font-size: 16px;" class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">
      Descargar PDF
    </button>
  </div>
</div>
